@charset "utf-8";
@import "fonts.css";

/* Layout Styles */

body {
	background-image: url(Images/casa_background1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.main {
	display: flex;
	justify-content: center;
}

div#google-maps {
	display: block;
	margin: 40px 15px;
	max-height: 100%;
	max-width: 100%;
}

nav {
	height: auto;
}

div#mobile-map {
	display: none;
	margin: 40px 15px;
	max-height: 100%;
	max-width: 100%;
}

.footer-info {
	margin-bottom: 0;
}

footer {
		
		width: 100%;
	}
