@charset "utf-8";

*, *:before, *:after {
	box-sizing: border-box;
}

html, body, nav, ul, ol, img, nav, footer, main, p, address, footer, figure, blockquote, fieldset {
	margin: 0;
	padding: 0;
}

fieldset {
	border: 0;
}

footer, form {
	box-sizing: border-box;
}

html, body {
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
}

h1, h2, h3, h4 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body, nav {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

ul, ol {
	list-style-type: none;
}

div {
	box-sizing: border-box;
}